### config yaml for Spatial transcriptomics
project_name: PBT_test1_snakemake2
output_dir: "/home/fcastaneda/fcastaneda-temp/rnaseq-sc-standar/biopBal_Sara_2024/spatial_pilot_5k/results/v2/"
# path to the Cell Ranger ouput from IGM
input_expression: "/home/fcastaneda/fcastaneda/data/SpatialTrans/5k_pilot/igm-storage.ucsd.edu/20241025_201136_XETG00386/output-XETG00386__0043461__Region_1__20241025__201136"
metadata:
- "/home/fcastaneda/fcastaneda-temp/rnaseq-sc-standar/biopBal_Sara_2024/spatial_pilot_5k/results/pbt_mono_high/30pct30pc_res0.9/metadata_30pct30pc_res0.9.rds"
# metadata_donor:
filtering:
  subset:
    expr: "nCount_Xenium > 3"
  nSamples_expressed: 0.001 # % of cells in which that gene is present
regress_var: [nCount_Xenium]
norm: LogNormalize
variable_features:
  #file: ./data/prot_coding_genes.csv
  method: vst
  nfeatures: 2000
  percent: [10, 20, 30]  # iterated
  mean.cutoff: [0.01, 8]
  dispersion.cutoff: [1, Inf]
resolution: [0.1, 0.2, 0.4, 0.6, 0.8] # iterated during markers
dim_reduction:
  base: {type: pca, n_comp: 40, chosen_comp: [15,20,30]} # iterated: chosen
  umap: {n.neighbors: 10, min.dist: 0.1}
markers:
  select: snn_res. # pattern in the metadata's columns. Redundant
  test: MAST
  avg_logFC: 0.25
  p_val_adj: 0.05
  to_plot: ['BAP1', 'WT1', 'PDCD1', 'CD3E', 'CD8A', 'CD8B', 'CD4', 'LAG3', 'CTLA4', 'FOXP3']
script_spatial: /home/fcastaneda/fcastaneda-temp/rnaseq-sc-standar/biopBal_Sara_2024/spatial_pilot_5k/scripts/devel/snakem_try/
exec: /mnt/hpc-apps/R/4.3.3/bin/Rscript
